{% extends 'base.html' %}

{% block head_addons %}
  <style>
    span.highlighted {
      background-color: yellow;
    }
    form {
      margin-bottom: 2em;
    }
    table, td, th {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 0.5em;
    }
    td.dark-bg {
      background-color: rgb(95, 95, 95);
      color: #fff;
    }
    th {
      background-color: black;
      color: white;
      font-weight: bold;
    }
    tr:nth-child(even) {background: rgb(231, 231, 231)}
    tr:nth-child(odd) {background: #FFF}

    h2 {
      
    }

    h3, h4 {
      font-size: 0.9em;
      padding: 0.25em 0.5em;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
    }

    h3 {
      color:#393939;
      display: inline;
      text-transform: uppercase;
      background-color: #e6e6e6;
    }

    h4 {
      color: #fff;
      font-weight: normal;
      display: inline;
      background-color: #393939;
    }
    h4>a {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }

    a.open-link {
      display: inline-block;
      padding: 0.5em;
      background-color: #ff3939;
      margin-top: 1em;
      color: #fff;
      text-decoration: none;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
    }

    a.open-link:hover {
      background-color: #6d1616;
    }
  </style>
{% endblock %}

{% block page_content %}
<main class="confined">
  <h1 class="text-centered">Compass Searcher</h1>

  <form action="{{ url_for('mpa.search') }}" method="GET" class="lined padded rounded">
    <input name="term" type="text" placeholder="search term">
    <input type="submit" value="Search" class="button-primary">
  </form>

  {% if results == 'undefined' %}
    <div class="text-centered">
      <h2>Welcome to Compass Searcher!</h2>
      <p>
        You've probably noticed that LHL compass doesn't have a search button. Perhaps it's an oversight, perhaps it's intentional. At the end of the day, it's just a huge inconvenience!
      </p>
      <p>
        Imagine trying to find specific instructions from a previous day or previous week, checking the pages one by one like some archaic dinosaur. Well, that's going to change. Simply type your search term above and start searching!
      </p>
      <h2>Work in progress</h2>
      <p>
        This is still a work in progress, there are many bugs to iron out, and new features that I'd like to implement. If you're interested in collaborating, please feel free to contact me! If you notice any bugs, please <a href="https://www.bugdiary.com/r/UkZs7KSKdCt52CnBgm3RE6">report them here</a>.
      </p>
    </div>
  {% elif results == [] %}
    <div class="text-centered">
      <h2>No results</h2>
      <p>
        Sorry pal this ain't google :(
      </p>
      <p>
        The search uses something like an `ILIKE` query, so please try to make your search term short. Also it's a known bug that searching terms containing html tags will produce unexpected results.
      </p>
    </div>
  {% else %}
    {% for result in results %}
      <div class="bg-white shadowed rounded padded spaced">
        <h2>{{ result.heading }}</h2>
        <div class="spaced">
          <h3>{{ result.ref_id }}</h3>
          <h4>{{ result.type|safe }}</h4>
        </div>
        <div class="border-left-accent">{{ result.context_before }}{{ result.query_term|safe }}{{ result.context_after }}</div>
        <a href="{{ result.URL }}" target="_blank" class="open-link">Open in Compass</a>
      </div>
    {% endfor %}
  {% endif %}

</main>
{% endblock %}